<h2><%= t(:label_ai_helper) %></h2>

<%= labelled_form_for @setting, url: ai_helper_setting_update_url, method: :post do |f| %>
<%= error_messages_for "setting" %>
<div class="box tabular">
    <p>
        <%
            options = @model_profiles.map{|p| [p.display_name, p.id]}
        %>
        <%= f.select :model_profile_id, options, include_blank: true, required: true %>
        <%= link_to ai_helper_model_profiles_new_url do %>
            <%= sprite_icon('add') %>
            <%= t(:label_new) %>
        <% end %>
    </p>
        <div id="ai_helper_model_profile_description">
        </div>

    <hr>
    <p>
        <%= f.check_box :vector_search_enabled %>
    </p>
    <div id="ai-helper-vector-search">
        <p>
            <%= f.text_field :vector_search_uri, size: 60, required: true %>
        </p>
        <p>
            <%= f.text_field :vector_search_api_key, size: 60 %>
        </p>
        <p>
            <%= f.text_field :embedding_model, size: 60 %>
        </p>
        <p id="ai_helper_dimension" style="display: none;">
            <%= f.text_field :dimension, size: 60 %>
        </p>
        <p id="ai_helper_embedding_url" style="display: none;">
            <%= f.text_field :embedding_url, size: 90 %>
        </p>
    </div>
    <hr>
    <p><%= f.text_area :additional_instructions, rows: 12 %></p>
</div>
<%= f.submit t(:button_submit) %>
<% end %>

<script>
    function loadModelProfile(id) {
        $.ajax({
            url: '<%= ai_helper_model_profiles_path%>/' + id,
            type: 'GET',
            success: function(data) {
                $('#ai_helper_model_profile_description').html(data);
                modelTypeChanged();
            },
            error: function() {
                $('#ai_helper_model_profile_description').html('error');
            }
        });
    }

    function setModelProfile() {
        var selectedId = $('#ai_helper_setting_model_profile_id').val();
        if (selectedId) {
            loadModelProfile(selectedId);

        } else {
            $('#ai_helper_model_profile_description').html('');
        }
    }

    function setVectorSearchVisible() {
        var vectorSearchEnabled = $('#ai_helper_setting_vector_search_enabled').is(':checked');
        if (vectorSearchEnabled) {
            $('#ai-helper-vector-search').show();
        } else {
            $('#ai-helper-vector-search').hide();
        }
    }

    function modelTypeChanged() {
        var modelType = $('#ai_helper_model_type').text();
        if (modelType === '<%= RedmineAiHelper::LlmProvider::LLM_OPENAI_COMPATIBLE %>') {
            $('#ai_helper_dimension').show();
        } else {
            $('#ai_helper_dimension').hide();
        }
        if (modelType === '<%= RedmineAiHelper::LlmProvider::LLM_AZURE_OPENAI %>') {
            $('#ai_helper_embedding_url').show();
        } else {
            $('#ai_helper_embedding_url').hide();
        }
    }


    $(document).ready(function() {
        $('#ai_helper_setting_model_profile_id').change(function() {
            setModelProfile();
        });
        $('#ai_helper_setting_vector_search_enabled').change(function() {
            setVectorSearchVisible();
        });
    });
    setModelProfile();
    setVectorSearchVisible();
</script>
