<h2><%= t(:label_ai_helper) %></h2>

<%= labelled_form_for @setting do |f| %>
<%= error_messages_for "setting" %>
<div class="box tabular">
<p>
    <%
        options = @model_profiles.map{|p| [p.name, p.id]}
    %>
    <%= f.select :model_profile_id, options, include_blank: false, required: true %>
    <%= link_to t(:label_new), ai_helper_model_profiles_new_url %>
</p>
<hr>
<p><%= f.text_area :additional_instructions %></p>
</div>
<%= f.submit t(:button_submit) %>
<% end %>
