<%= error_messages_for "model_profile" %>
<div class="box tabular">
  <p><%= f.select :llm_type, RedmineAiHelper::LlmProvider.option_for_select %></p>
  <p>
    <%= f.text_field :name, size: 60, required: true, autocomplete: "off" %>
  </p>
  <%
      access_key = ""
      access_key = AiHelperModelProfilesController::DUMMY_ACCESS_KEY unless @model_profile.new_record?
  %>
  <p id="ai-helper-mode-access-key"><%= f.password_field :access_key, value: access_key, size: 60, required: true %></p>
  <p id="ai-helper-model-llm-model">
    <%= f.text_field :llm_model, size: 60, required: true %>
  </p>
  <p id="ai-helper-model-llm-model">
    <%= f.text_field :temperature, size: 60, required: true %>
  </p>
  <p id="ai-helper-model-max-tokens">
    <%= f.text_field :max_tokens, size: 60 %>
  </p>
  <p id="ai-helper-model-organization-id">
    <%= f.text_field :organization_id, size: 60 %>
  </p>
  <p id="ai-helper-model-base-uri">
    <%= f.text_field :base_uri, size: 90, required: true %>
  </p>


</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // LLM type select box change event
    const llmTypeSelect = document.getElementById('ai_helper_model_profile_llm_type');

    function isBaseUriRequired(selectValue) {
      if (selectValue == '<%= RedmineAiHelper::LlmProvider::LLM_OPENAI_COMPATIBLE %>' ||
          selectValue == '<%= RedmineAiHelper::LlmProvider::LLM_AZURE_OPENAI %>') {
        return true;
      }
      return false; // Base URI is not required for other LLM types
    }

    function handleLlmTypeChange() {
      const selectedValue = llmTypeSelect.value;
      const baseUriElement = document.getElementById('ai-helper-model-base-uri');
      const accessKeyRequiredElement = document.querySelector('#ai-helper-mode-access-key .required');
      const organizationIdElement = document.getElementById('ai-helper-model-organization-id');

      if (isBaseUriRequired(selectedValue) == true) {
        if (baseUriElement) baseUriElement.style.display = 'block';
      } else {
        if (baseUriElement) baseUriElement.style.display = 'none';
      }

      if (selectedValue == '<%= RedmineAiHelper::LlmProvider::LLM_OPENAI_COMPATIBLE %>') {
        if (accessKeyRequiredElement) accessKeyRequiredElement.style.display = 'none';
      } else {
        if (accessKeyRequiredElement) accessKeyRequiredElement.style.display = 'block';
      }

      if (selectedValue == '<%= RedmineAiHelper::LlmProvider::LLM_OPENAI %>') {
        if (organizationIdElement) organizationIdElement.style.display = 'block';
      } else {
        if (organizationIdElement) organizationIdElement.style.display = 'none';
      }
    }

    if (llmTypeSelect) {
      llmTypeSelect.addEventListener('change', handleLlmTypeChange);

      // Trigger change event on page load
      handleLlmTypeChange();
    }
  });
</script>
