<hr/>
<div class="contextual">
    <%= link_to(sprite_icon('edit', l(:button_edit)), ai_helper_model_profiles_edit_path(@model_profile), :class => 'icon icon-edit') %>

    <%= link_to(sprite_icon('del', l(:button_delete)), ai_helper_model_profiles_destroy_url(id: @model_profile), method: :delete, data: { confirm: l('ai_helper.model_profiles.messages.confirm_delete') }, :class => 'icon icon-del') %>

</div>
<p>
  <%= label_tag AiHelperModelProfile.human_attribute_name(:llm_type) %>
  <%= @model_profile.display_llm_type %>
</p>
<p>
  <%= label_tag AiHelperModelProfile.human_attribute_name(:access_key) %>
  <%= @model_profile.masked_access_key %>
</p>
<p>
  <%= label_tag AiHelperModelProfile.human_attribute_name(:llm_model) %>
  <%= @model_profile.llm_model %>
</p>
<p>
  <%= label_tag AiHelperModelProfile.human_attribute_name(:temperature) %>
  <%= @model_profile.temperature %>
</p>
<p>
  <%= label_tag AiHelperModelProfile.human_attribute_name(:max_tokens) %>
  <%= @model_profile.max_tokens %>
</p>
<% if@model_profile.llm_type == RedmineAiHelper::LlmProvider::LLM_OPENAI %>
<p>
  <%= label_tag AiHelperModelProfile.human_attribute_name(:organization_id) %>
  <%= @model_profile.organization_id %>
</p>
<% end %>
<% if @model_profile.base_uri_required? %>
<p>
  <%= label_tag AiHelperModelProfile.human_attribute_name(:base_uri) %>
  <% unless @model_profile.base_uri.blank? %>
    <%= link_to @model_profile.base_uri, @model_profile.base_uri %>
  <% end %>
</p>
<% end %>
<div id="ai_helper_model_type" style="display: none;"><%= @model_profile.llm_type %></div>
