<p>
  <%= label_tag "Llm type" %>
  <%= @model_profile.llm_type %>
</p>
<p>
  <%= label_tag "Access key" %>
  <%= @model_profile.masked_access_key %>
</p>
<p>
  <%= label_tag l(:field_llm_model) %>
  <%= @model_profile.llm_model %>
</p>
