
<% if (@project and @project.module_enabled?(:ai_helper) and User.current.allowed_to?({ controller: :ai_helper, action: :issue_summary }, @project) and AiHelperSetting.find_or_create.model_profile) %>


<%= javascript_tag do %>
  function getSummary(update) {
    var url = "<%= ai_helper_issue_summary_path(id: @issue.id)%>";
    if (update == true) {
      url += "?update=true";
    }

    const summaryArea = document.getElementById('ai-helper-summary-area');
    if (summaryArea) {
      summaryArea.innerHTML = '<div class="loader"><%= j l(:ai_helper_loading) %></div>';
    }

    const xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.onload = function() {
      if (xhr.status === 200) {
        if (summaryArea) {
          summaryArea.innerHTML = xhr.responseText;
        }
      } else {
        if (summaryArea) {
          summaryArea.innerHTML = '<div class="error"><%= j l(:ai_helper_error_occurred) %>: ' + xhr.statusText + '</div>';
        }
      }
    };
    xhr.onerror = function() {
      if (summaryArea) {
        summaryArea.innerHTML = '<div class="error"><%= j l(:ai_helper_error_occurred) %></div>';
      }
    };
    xhr.send();
  };

  document.addEventListener('DOMContentLoaded', function() {
    const summaryButtons = document.querySelectorAll('.ai-helper-summary-button');
    summaryButtons.forEach(function(button) {
      button.addEventListener('click', function(e) {
        e.preventDefault();
        getSummary();
      });
    });
  });
<% end %>
<fieldset id="options" class="collapsible collapsed">
    <legend onclick="toggleFieldset(this);" class="icon icon-collapsed">
    <%= sprite_icon("angle-right", rtl: true) %>
    <strong>
        <%= sprite_icon("ai-helper-robot", plugin: :redmine_ai_helper)%>
        <%= l(:ai_helper_summary) %>
    </strong>
    </legend>
    <div class="ai-helper-issue-summary" style="display: none;">
      <%
        summary = AiHelperSummaryCache.issue_cache(issue_id: @issue.id)
      %>
      <div id="ai-helper-summary-area">
        <% if summary %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
              getSummary();
            });
        </script>
        <% else %>
        <%= link_to l(:ai_helper_summary), '#', class: 'ai-helper-summary-button', id: 'ai-helper-summary-button' %>
        <% end %>

      </div>
    </div>

</fieldset>

<% end %>
