<% if @project and @project.module_enabled?(:ai_helper) and User.current.allowed_to?({controller: :ai_helper, action: :chat_form}, @project)%>
  <div id="aihelper-sidebar">
    <h3>
      <%= t(:label_ai_helper) %>
    </h3>
    <span id="aihelper-chat-clear" style="display: none;">
      <%= link_to "Clear", 'javascript:void(0);',onclick: "ai_helper_clear_chat();" %>
    </span>
    <div id="aihelper-chat-conversation"></div>
    <div id="aihelper-chat-form-area"></div>
    <span><%= t(:label_ai_helper_input_newline)%></span>
    <hr>
  </div>
  <% content_for :header_tags do %>
    <%= stylesheet_link_tag('ai_helper.css', plugin: :redmine_ai_helper) %>
    <%= javascript_include_tag('ai_helper.js', plugin: :redmine_ai_helper) %>
  <% end %>
  <% 
  content_id = nil
  if controller_name == "issues"
    content_id = @issue.id if @issue
  end
  %>
  
  <script>
    $(document).ready(function() {
      ai_helper_urls = {
        chat: '<%= ai_helper_chat_path(@project) %>',
        reload: '<%= ai_helper_reload_path(@project) %>',
        clear: '<%= ai_helper_clear_path(@project) %>',
        call_llm: '<%= ai_helper_call_llm_path(@project) %>'
      };
      ai_helper_reload_chat();

      var chatForm = $('#aihelper-chat-form-area');
      var form_url = '<%= ai_helper_chat_form_path(@project) %>';
      chatForm.load(form_url);
      ai_helper_page_info['content_id'] = '<%= content_id %>';
      ai_helper_page_info['controller_name'] = '<%= controller_name %>';
      ai_helper_page_info['action_name'] = '<%= action_name %>';
      console.log(ai_helper_page_info);
      
    });
  </script>
<% end %>