<% if @project and @project.module_enabled?(:ai_helper) and User.current.allowed_to?({controller: :ai_helper, action: :chat_form}, @project)%>
  <div id="aihelper-sidebar">
    <h3>
      <%= t(:label_ai_helper) %>
    </h3>
    <div class="aihelper-header">
      <span class="aihelper-hamburger">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="aihelper-dropdown-menu">
        あああ
        <ul>
          <li><a href="#">ホーム</a></li>
          <li><a href="#">サービス</a></li>
          <li><a href="#">会社概要</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
    <span id="aihelper-chat-clear" style="display: none;">
      <%= link_to "Clear", 'javascript:void(0);',onclick: "ai_helper_clear_chat();" %>
    </span>
    <div id="aihelper-chat-conversation"></div>
    <div id="aihelper-chat-form-area"></div>
    <span><%= t(:label_ai_helper_input_newline)%></span>
    <hr>
  </div>
  <% 
  content_id = nil
  if controller_name == "issues"
    content_id = @issue.id if @issue
  end

  if controller_name == "wiki" 
    if @page.nil? and action_name == "show"
      @page = WikiPage.find_by_title(@wiki.start_page)
    end
    content_id = @page.id if @page
  end
  %>
  <script>
    const is_sidebar_exist = function() {
      return $('#sidebar-wrapper').length !== 0;
    }

    $(document).ready(function() {
      if (!is_sidebar_exist()) {
        return;
      }

      // div#aihelper-sidebar を div#sidebar-wrapper の最初に追加
      $('#aihelper-sidebar').prependTo('#sidebar-wrapper');

      ai_helper_urls = {
        chat: '<%= ai_helper_chat_path(@project) %>',
        reload: '<%= ai_helper_reload_path(@project) %>',
        clear: '<%= ai_helper_clear_path(@project) %>',
        call_llm: '<%= ai_helper_call_llm_path(@project) %>'
      };
      ai_helper_reload_chat();

      var chatForm = $('#aihelper-chat-form-area');
      var form_url = '<%= ai_helper_chat_form_path(@project) %>';
      chatForm.load(form_url);
      ai_helper_page_info['content_id'] = '<%= content_id %>';
      ai_helper_page_info['controller_name'] = '<%= controller_name %>';
      ai_helper_page_info['action_name'] = '<%= action_name %>';
      console.log(ai_helper_page_info);


         // ハンバーガーメニューのクリックイベント
      $('.aihelper-hamburger').click(function(event) {
          event.stopPropagation();
          $(this).toggleClass('active');
          $('.aihelper-dropdown-menu').slideToggle(300);
      });
      
      // ドロップダウンメニュー内のクリックイベントの伝播を停止
      $('.aihelper-dropdown-menu').click(function(event) {
          event.stopPropagation();
      });
      
      // ドキュメント全体のクリックイベント
      $(document).click(function() {
          $('.aihelper-hamburger').removeClass('active');
          $('.aihelper-dropdown-menu').slideUp(300);
      });

    });
  </script>
<% end %>