<% if @project and @project.module_enabled?(:ai_helper) %>
  <div id="aihelper-sidebar">
    <h3>
      <%= t(:label_ai_helper) %>
    </h3>
    <div id="aihelper-chat-conversation"></div>
    <div id="aihelper-chat-form-area"></div>
    <span><%= t(:label_ai_helper_input_newline)%></span>
    <hr>
  </div>
  <% content_for :header_tags do %>
    <%= stylesheet_link_tag('ai_helper.css', plugin: :redmine_ai_helper) %>
    <%= javascript_include_tag('ai_helper.js', plugin: :redmine_ai_helper) %>
  <% end %>
  <script>
    $(document).ready(function() {
      ai_helper_urls = {
        chat: '<%= ai_helper_chat_path(@project) %>',
        reload: '<%= ai_helper_reload_path(@project) %>'
      };
      ai_helper_reload_chat();

      var chatForm = $('#aihelper-chat-form-area');
      var form_url = '<%= ai_helper_chat_form_path(@project) %>';
      chatForm.load(form_url);

      
    });
  </script>
<% end %>